.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: none;
  color: #ffffff;
  min-height: 700px;
  transition: 0.2s ease-in-out;
}
